@page "/counter2"
@using AddHttpClientSingletonExample.Services
@inject ICounterService CounterService

<h1>Counter 2</h1>

<p>Current count: @CounterService.GetCount()</p>

<button class="btn btn-primary" @onclick="_ => CounterService.AddCount()">Click me</button>

@code {
}